<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.p2p.user.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.p2p.user.model.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="available" jdbcType="INTEGER" property="available" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, available
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_role_info
    where id = #{id,jdbcType=INTEGER}
  </select>



  <!-- ========================================= -->
  <select id="selectAllRole" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from u_role_info
  </select>



  <delete id="deletePermissionByRoleId">
    delete from u_role_permission where role_id=#{roleId}
  </delete>



  <insert id="insertByPermissionIdAndRoleId">
    insert into u_role_permission(role_id,permission_id) values (#{roleId},#{permission_id})
  </insert>



  <select id="selectRoleByUserId" resultMap="BaseResultMap">
    select
    ri.*
    from u_role_info ri
    left join
    u_user_role ur
    on ur.role_id = ri.id
    where
    ur.user_id=#{userId}
  </select>
  <!-- ========================================= -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_role_info
    where id = #{id,jdbcType=INTEGER}
  </delete>



  <insert id="insert" parameterType="com.bjpowernode.p2p.user.model.Role">
    insert into u_role_info (id, name, available
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{available,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.p2p.user.model.Role">
    insert into u_role_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="available != null">
        available,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.p2p.user.model.Role">
    update u_role_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.p2p.user.model.Role">
    update u_role_info
    set name = #{name,jdbcType=VARCHAR},
      available = #{available,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>